.dropdownContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 34px auto;
}
.dropdownTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  background-color: #ff6060;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}
h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: 0.4em 0 0.4em 0.8em;
}
.chevron {
  color: #ffffff;
  width: 24px;
  margin: 0 0.8em 0 0;
  transition: transform 0.8s ease; /* Animation de la flèche */
  transform-origin: center; /* Définit le centre de rotation au milieu du chevron */
}
.chevron-rotate {
  transform: rotate(180deg) scaleY(-1); /* Applique la rotation de 180 degrés et inverse verticalement */
}
.dropdownContent {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 0 0 5px 5px;
  margin-top: -0.4em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease; /* Animation de la boîte déroulante */
}
.dropdownContent-open {
  max-height: 500px; /* Taille max de la boîte déroulante */
  transition: max-height 2s ease;
}
.content {
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  margin: 0.6em auto 0 auto;
  padding: 1em;
}

@media screen and (max-width: 767px) {
  .dropdownContainer {
    width: 100% !important;
    margin: 0 auto 30px auto;
  }
  .dropdownTitle h2 {
    font-size: 14px;
    padding: 5px;
  }
  .content {
    font-size: 14px;
    padding-bottom: 3em;
  }
}
