.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
}
.footerLogo {
  /* height: 40px; */
  margin-top: 30px;
}
.footerCopyright {
  color: #ffffff;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .footerContainer {
    height: 209px;
    padding: 0;
  }
  .footerLogo {
    width: 122px;
    height: 39px;
  }
  .footerText {
    font-size: 12px;
  }
  .footerCopyright {
    font-size: 12px;
  }
}
