.card {
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  animation: fadeInUp 600ms ease-in-out;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1);
  transition: transform 300ms;
}
.card:hover .cardImg {
  transform: scale(1.01);
}
.cardOverlay {
  position: absolute;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.cardTitle {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 20px;
  color: #ffffff;
  box-sizing: inherit;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeGallery {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex; /* Utiliser flexbox pour aligner les cartes */
  justify-content: center; /* Centrer les cartes horizontalement */
  flex-wrap: wrap; /* Permettre le retour à la ligne des cartes */
  gap: 50px; /* Espacement horizontal entre les cartes */
  background: #f7f7f7;
  border-radius: 25px;
  margin: 20px auto 30px; /* Ajout de marges en haut et en bas */
  padding-top: 50px;
  padding-bottom: 50px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .homeGallery {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    row-gap: 0;
  }
  .card {
    width: 335px;
    height: 255px;
    margin-bottom: 20px;
  }
  .cardTitle {
    font-size: 14px;
  }
}
