.tagContainer {
  display: inline-block;
  margin-right: 10px;
}

.tagButton {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ff6060;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .tagButton {
    border-radius: 10px;
    font-size: 10px;
  }
  .tagContainer {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
