.tagContainer {
  display: inline-block;
  margin-right: 10px;
}

.tagButton {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ff6060;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
