.dropdownContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto 30px auto;
  justify-content: center;
  align-items: center;
}
.dropdownTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  background-color: #ff6060;
  border-radius: 5px;
  z-index: 1;
}
h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: 0.4em 0 0.4em 0.8em;
}
.chevron {
  color: #ffffff;
  width: 24px;
  cursor: pointer;
  margin: 0 0.8em 0 0;
}
.dropdownContent {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 0 0 5px 5px;
  margin-top: -0.4em;
}
.content {
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  margin: 0.6em auto 0 auto;
  padding: 1em;
}
