body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Page à propos */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collapse {
  width: 100%;
}
.dropdown {
  width: 100%;
  margin: 30px auto 66px auto;
}
/* fin de la page à propos */

/* page locations */
.owner {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: -30px auto 0 auto;
  transform: translateY(-45%);
}
.ownerInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1%;
}
.tagsInformation {
  width: 90%;
  margin: -60px auto 30px auto;
  transform: translateY(-60%);
}
/* fin page locations */

/* collapse decription */
.description {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 60px auto;
}
.contentDescription,
.contentEquipement {
  width: 100%;
}
.contentDescription .dropdownContainer {
  width: 96%;
  margin-left: 0;
}
.contentEquipement .dropdownContainer {
  width: 96%;
  margin-right: 0;
}
.contentEquipement {
  white-space: pre-line;
}

/* fin collapse description */

@media screen and (max-width: 767px) {
  body,
  main {
    margin: 0;
    padding: 0;
  }
}
