body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Page à propos */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collapse {
  width: 100%;
}
.dropdown {
  width: 100%;
  margin: 30px auto 66px auto;
}
/* fin de la page à propos */
