body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.home,
.about {
  display: flex;
  justify-content: center;
  /* font-family: 'Montserrat', sans-serif; */
}
h1 {
  padding-bottom: 30px;
  max-width: 280px;
  line-height: 50px;
}
